@import "header";

.page {

    &__main {}

    &__pathway {}

    &__why {}

    &__reviews {}

    &__download {}

}

.container-big {
    padding: 3.125rem;
}

.text {
    color: #fff;
    line-height: 180%;

    p {
        &:not(:last-child) {
            margin-bottom: 3rem;
        }
    }

}

.title,
.title_s64 {
    font-weight: 700;
    font-size: 4.375rem;
    line-height: 4.875rem;
    color: #ffffff;

    span {
        color: #23b123;
    }

    &_s64 {
        font-size: 4rem;
    }

    @media (max-width: 48rem) {
        font-size: 2.8125rem;
    }
}

.form {
    max-width: 33.3125rem;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    padding: 0.3125rem;
    gap: 0.3125rem;
    line-height: 65;

    @media(max-width: 26.875rem) {
        flex-direction: column;
    }




    &__row {}

    &__column {}

    &__line {}

    &__input {
        flex: 1 1 auto;
        padding: 0 1.25rem;
        color: #263238;
        font-weight: 500;

        &::placeholder {
            color: #263238;
        }

        @media(max-width: 430px) {
            height: 4rem;
        }
    }

    &__button {}

}

.image-block {
    align-self: start;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 1.25rem;
    padding-top: 10.3125rem;
    padding-bottom: 10.3125rem;
    padding-left: 2.875rem;
    padding-right: .875rem;
    position: relative;
    overflow: hidden;

    &::before,
    &::after {
        content: "";
        position: absolute;
        border-radius: 50%;
        border: 1px solid #fff;
        width: 36.5625rem;
        height: 36.5625rem;
        top: 0;
        right: 0;
    }

    &::before {
        transform: translate(calc(50% - 1.125rem), -20%);
    }

    &::after {
        transform: translate(calc(50% - 1.125rem), -6%);
    }

    @media(max-width: 36rem) {
        padding-top: 1.875rem;
        padding-bottom: 1.875rem;
        padding-left: 1.875rem;
        padding-right: 1.875rem;
    }



    &__item {
        text-align: center;
        position: relative;
        z-index: 2;
        flex: 1 1 100%;
        flex: 1 1 100%;

        img {
            border-radius: 1.25rem;
        }
    }
}