/* Base */
@import "./base/reset";
@import "./base/vars";
@import "./base/base";
@import "./base/utils";
@import "./base/containers";
@import "./base/sticky-footer";

@import "header";
@import "common";
@import "home";
@import "footer";

@import url("https://fonts.googleapis.com/css?family=League+Spartan:300,regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:regular,italic,700,700italic,900,900italic&display=swap");

$fontFamily: "League Spartan";
$fontSize: 18rem;

$mainColor: #ffffff;
$greenColor: #23b123;

$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1620;
$containerPadding: 30;
$responsiveType: 1;

body {
    background-color: #263238;

    .lock & {
        overflow: hidden;
        touch-action: none;
        overscroll-behavior: none;
    }
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    >main {
        flex: 1 1 auto;
    }
}

[class*="__container"] {}